<form class="contact-uiux screen" name="form9" action="form9" method="post">

    <div class="group-1">
      <h1 class="get-in-touch-with-th inter-semi-bold-blue-zodiac-36-7px">
        Get in touch with the Exam Generator team
      </h1>
      <p class="any-questions-or-fee inter-semi-bold-black-14px">
        <span class="inter-semi-bold-black-14px"
          >Any questions or feedback, let us know. Please  email us directly at
          exam.genration@gmail.com</span
        >
      </p>

     
    </div>

  </form>