<!-- Footer 
 -->
 <footer class="footer">
    <img class="footer-line" src="./assets/media/img/footer-line-8.png" alt="footer line" />
    <div class="footer-container">
      <img class="logo-in-footer" src="./assets/media/img/logo-in-footer@2x.png" alt="logo in footer" />
      <div class="footer-links">
        <a routerLink="/settings/Account" 
          ><div class="settings inter-semi-bold-blue-zodiac-22px">Settings</div> </a
        >
        <!-- <a routerLink="/home/Terms"
          ><div class="terms-conditions inter-semi-bold-blue-zodiac-22px">terms &amp; conditions</div> </a
        > -->
        <a routerLink="/home/Contact"
          ><div class="contact-us inter-semi-bold-blue-zodiac-22px">Contact Us</div>
        </a>
      </div>
    </div>
  </footer>