<div class="frame-1">
    <div class="flex-col">
      <h1 class="only-three-steps-to-see-the-magic inter-semi-bold-blue-zodiac-36-7px">
        ONLY THREE STEPS TO SEE THE MAGIC
      </h1>
      <div class="select-your-textfile inter-normal-blue-zodiac-36-7px">Select Your Text/file</div>
      <img class="logo-1" src="./assets/media/img/logo-2@2x.png" alt="logo" />
      <div class="press-generate inter-normal-blue-zodiac-36-7px">
        <span class="inter-normal-blue-zodiac-36-7px">press &#34;</span
        ><span class="inter-semi-bold-blue-zodiac-36-7px">Generate</span
        ><span class="inter-normal-blue-zodiac-36-7px">&#34;</span>
      </div>
      <div class="overlap-group">
        <a routerLink="/home/generate"><div class="get-started"> GET STARTED</div> </a>
      </div>
    </div>
    <div class="flex-col-1">
      <img class="logo-2" src="./assets/media/img/logo-1@2x.png" alt="logo" />
      <p class="drag-drop-paste inter-normal-blue-zodiac-36-7px">drag &amp; drop / paste</p>
      <img class="logo-3" src="./assets/media/img/logo-3@2x.png" alt="logo" />
    </div>
  </div>