<div class="overlap-group2">
    <div class="flex-col">
      <h1 class="easily-create-tests">Easily create tests for your class<br />business or organization</h1>
      <p class="create-a-quiz-to-gen inter-normal-blue-zodiac-22-6px">
        Create a quiz to generate leads, to teach your students or<br />simply to entertain.
      </p>
      <a routerLink="/home/start">
        <div class="get-started-btn">
          <div class="overlap-group"><div class="get-started">Get Started</div></div>
        </div></a
      >
    </div>
    <img class="side-photo" src="./assets/media/img/rectangle-14.png" alt="side photo" />
  </div>