/* screen - generate-uiux */


.overlap-group13 {
  height: 841px;
  margin-left: -21px;
  margin-top: -23px;
  position: relative;
  width: 1449px;
}

 .overlap-group12 {
  height: 841px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1449px;
}

 .side-photo {
  height: 178px;
  left: 893px;
  object-fit: cover;
  position: absolute;
  top: 663px;
  width: 263px;
}

 .main-content {
  background-color: var(--white);
  border-radius: 56px;
  display: flex;
  gap: 95px;
  height: 500px;
  left: 31px;
  position: absolute;
  top: 213px;
  width: 1418px;
}

 .main-text {
  align-items: flex-start;
  display: flex;
  margin-left: 134px;
  margin-top: 82px;
  min-width: 491px;
}

 .overlap-group-2 {
  align-items: flex-end;
  background-color: #fec20057;
  border-radius: 15px;
  display: flex;
  height: 330px;
  justify-content: flex-end;
  min-width: 489px;
  padding: 20.7px 23px;
}

 .type-here {
  background-color: transparent;
  border: 0;
  color: var(--black-3);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height: 288px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 442px;
}

 .type-here::placeholder {
  color: #0000007a;
}

 .results {
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 330px;
  margin-top: 82px;
  overflow: hidden;
  overflow-y: scroll;
  width: 696px;
}

 .results-item {
  align-items: flex-start;
  display: flex;
  min-width: 550px;
}

 .overlap-group {
  align-items: flex-end;
  background-color: var(--san-marino-2);
  border-radius: 15px;
  display: flex;
  height: 145px;
  justify-content: flex-end;
  min-width: 548px;
  padding: 7.0px 6.6px;
}

 .q1 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .q1::placeholder {
  color: #112d4e99;
}

 .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--alto);
  border-radius: 15px;
  display: flex;
  height: 145px;
  justify-content: flex-end;
  min-width: 548px;
  padding: 7.0px 6.6px;
}

 .a1 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .q2 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .overlap-group3 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 15px;
  display: flex;
  height: 145px;
  justify-content: flex-end;
  min-width: 548px;
  padding: 5.3px 6.6px;
}

 .a2 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .q3 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .a3 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .q4 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .a4 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .q5 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .a5 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .q6 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .overlap-group11 {
  align-items: flex-end;
  background-color: var(--alto);
  border-radius: 15px;
  display: flex;
  height: 145px;
  justify-content: flex-end;
  min-width: 548px;
  padding: 6.6px 6.6px;
}

 .a6 {
  background-color: transparent;
  border: 0;
  height: 130px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 534px;
}

 .header {
  background-color: transparent;
  display: flex;
  height: 224px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1425px;
}

 .logo {
  cursor: pointer;
  height: 201px;
  margin-left: 21px;
  margin-top: 23px;
  object-fit: cover;
  width: 812px;
}

 .overlap-group1 {
  border-radius: 14px;
  height: 45px;
  position: relative;
  width: 71px;
}

 .register:hover {
  background-color: #4a79ae
}

 .place {
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 59px;
}

 .sign-in:hover {
  background-color: #d8eaff
}

 .get-started-btn {
  // align-items: flex-start;
  // cursor: pointer;
  // display: flex;
  height: 49px;
  left: 317px;
  min-width: 187px;
  position: absolute;
  top: 680px;
}

 .overlap-group-3 {
  align-items: center;
  background: linear-gradient(180deg, rgba(220, 62, 41, 0.94) 0%, rgba(254, 194, 0, 0.94) 0.01%, rgb(63, 114, 175) 100%);
  border-radius: 17px;
  display: flex;
  height: 49px;
  min-width: 185px;
  padding: 0 31px;
  
}

 .generate {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 123px;
}

 .generate:hover {
  transform: scale(1.1);
}

 .footer {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 19px;
  height: auto;
  justify-content: flex-start;
  min-height: 115px;
  width: 1152px;
}

 .footer-line {
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
  width: 1152px;
}

 .logo-in-footer {
  cursor: pointer;
  height: 96px;
  object-fit: cover;
  width: 190px;
}

 .footer-links {
  display: flex;
  gap: 30px;
  margin-bottom: 1.0px;
  width: 475px;
}

 .settings {
  cursor: pointer;
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  transition: all 0.2s ease;
  width: 90px;
}

 .settings:hover {
  color: #3F72AF
}

 .terms-conditions {
  cursor: pointer;
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  transition: all 0.2s ease;
  width: 200px;
}

 .terms-conditions:hover {
  color: #3F72AF
}

 .contact-us {
  cursor: pointer;
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  transition: all 0.2s ease;
  width: 119px;
}

 .contact-us:hover {
  color: #3F72AF
}

textarea {
  resize: none;
}

.q-types{
  left: 620px;
  position: absolute;
  width: 263px;
  background-color: #fcdd2ed3;
  font-family: var(--font-family-inter --alto);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 140px;
  padding: 12px;
  padding-left: 30px;
  // margin-top: -30px;
  line-height: normal;
  border-radius: 5%;
}

.checkbox-design{
  // position: relative;
  margin-right: 4px;
  height: 18px;
  width: 18px;
  border-style: solid;
  border-width: 500px !important;
  border-color: #112D4E !important;
}