
$main-color1: #12a89d;
$main-color2: #b9b9b9;
$main-color3: #ababab;
$main-color4: #343434;
$main-color5: #f7f7f7;
$dark-main: #0e958b;
$text-body: #656565;
$border-color: #dcdcdc;
$white: white;
$font-family-cairo: "Cairo", sans-serif;
$gradient-main: linear-gradient(
  to right bottom,
  #56bfa4,
  #49b9a2,
  #3bb4a0,
  #2bae9f,
  #12a89d
);