<div class="container-center-horizontal">
    <form class="settings-changepassword-uiux screen" name="form12" [formGroup]="editForm">

      <div class="flex-row">
        <div class="side-links">
          <a routerLink="/settings/Account"><div class="link inter-semi-bold-blue-zodiac-22px">Account</div> </a>
          <div class="password inter-semi-bold-blue-zodiac-22px">Password</div>

        </div>
        <div class="password-container inter-normal-blue-zodiac-22-6px">
          <div class="old-password">Old Password</div>
          <div class="new-password">New Password</div>
          <div class="confirm-new-password">Confirm New Password</div>
        </div>
        <div class="flex-col">
          <div class="overlap-group1-1">
            <div class="rect"></div>
            <input class="x inter-black-black-22px" name=".." placeholder="" type="password"  formControlName="oldPassword" required /><img
              class="icon-lock"
              src="./assets/media/img/---icon--lock-locked-@2x.png"
              alt="icon-lock"
            />
            <div class="rectangle-2"></div>
          </div>
          <div class="overlap-group2">
            <div class="rect"></div>
            <input class="x-1 inter-black-black-22px" name=".." placeholder="" formControlName="newPassword" type="password" required /><img
              class="icon-lock"
              src="./assets/media/img/---icon--lock-locked-@2x.png"
              alt="icon-lock"
            />
            <div class="rectangle-2"></div>
          </div>
          <div class="overlap-group3">
            <img class="icon-lock" src="./assets/media/img/---icon--lock-locked-@2x.png" alt="icon-lock" />
            <div class="rect"></div>
            <input class="x-2 inter-black-black-22px" name=".." placeholder="" formControlName="confirmPassword" type="password" required />
            <div class="rectangle-2"></div>
          </div>
          
            <div class="confirm-btn">
              <div class="overlap-group"  (click)="submit()"><div class="confirm inter-semi-bold-white-22px">Confirm</div></div>
            </div>
        </div>
      </div>

    </form>
  </div>